doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1")
    title #{researchInfo.title} | #{general.siteName}
    if general.isTest
      meta(name="robots", content="none, noindex, nofollow")
    link(rel="canonical", href=researchInfo.url)

    //- Highwire Press tags
    meta(name="citation_title", content=researchInfo.title)
    for author in researchInfo.author
      meta(name="citation_author", content=author)
    meta(name="citation_date", content=researchInfo.issued)
    meta(name="citation_year", content=researchInfo.issued.split('/')[0])
    meta(name="citation_publication_date", content=researchInfo.issued)
    meta(name="citation_firstpage", content=researchInfo.page.split('-')[0])
    meta(name="citation_lastpage", content=researchInfo.page.split('-').reverse()[0])
    meta(name="citation_abstract_html_url", content=researchInfo.url)
    if researchInfo.language
      meta(name="citation_language", content=researchInfo.language)
    if researchInfo.type === 'paper-conference'
      meta(name="citation_conference", content=researchInfo.container_title)
      meta(name="citation_conference_title", content=researchInfo.container_title)
    else if researchInfo.container_title
      meta(name="citation_journal", content=researchInfo.container_title)
      meta(name="citation_journal_title", content=researchInfo.container_title)
    if researchInfo.volume
      meta(name="citation_volume" content=researchInfo.volume)
    if researchInfo.issue
      meta(name="citation_issue" content=researchInfo.issue)
    if researchInfo.doi
      meta(name="citation_doi", content=researchInfo.doi)
    if researchInfo.isbn
      meta(name="citation_isbn", content=researchInfo.isbn)
    if researchInfo.issn
      meta(name="citation_issn", content=researchInfo.issn)
    if researchInfo.publisher
      meta(name="citation_publisher", content=researchInfo.publisher)
    if researchInfo.type === 'report' && researchInfo.institution
      meta(name="citation_technical_report_institution", content=researchInfo.institution)
      if researchInfo.issue
        meta(name="citation_technical_report_number", content=researchInfo.issue)
      else if researchInfo.number
        meta(name="citation_technical_report_number", content=researchInfo.number)
    if researchInfo.keywords.length !== 0
      meta(name="citation_keywords", content=researchInfo.keywords.join('; '))
    if researchInfo.pdf_url
      meta(name="citation_pdf_url", content=researchInfo.pdf_url)

    //- description and keywords
    meta(name="description", content=researchInfo.abstract)
    if researchInfo.keywords.length !== 0
      meta(name="keywords", content=researchInfo.keywords.join(', '))

    //- OGP
    meta(property="og:type", content="article")
    meta(property="og:title", content=researchInfo.title)
    meta(property="og:url", content=researchInfo.url)
    meta(property="og:description", content=researchInfo.abstract)
    meta(property="article:author", content=researchInfo.author.join(', '))

    //- JSON-LD
    -
      var schemaJSON = JSON.stringify({
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": researchInfo.title,
        "url": researchInfo.url
      });
    script(type="application/ld+json")!= schemaJSON

    //- CSS
    link(rel="stylesheet", href="/style/index.css")

  body
    nav.px2.pt2.pb1.border-bottom.clearfix
      .left.col-12.md-col-2.pb1.center.nowrap
        a(href="/") Miyashita Lab Research
      .right.col-12.md-col-3.lg-col-2.pb1
        form(method="GET", action="/search").flex
          input.flex-auto.px1.border(type="search", name="q", placeholder="Search")
    header.max-width-4.mx-auto.px2
      .px2.mb3.border-bottom
        p.bold
          if researchInfo.type === 'paper-conference'
            span Conference Proceedings
          if researchInfo.type === 'article-journal'
            span Journal
          if researchInfo.type === 'report'
            span Technical Report
          if researchInfo.type === 'thesis'
            span Thesis
        h1.m0.lg-h1.h2.pb1= researchInfo.title
        h3.right-align
          for author in researchInfo.author
            span.nowrap.ml2= author
            wbr
    if researchInfo.youtube_url
      section.max-width-4.mx-auto.px2
        .lg-px4
          .video-wrapper
            iframe.video-content(
              src=researchInfo.youtube_url.replace('/watch?v=', '/embed/') + "?rel=0",
              frameborder="0", allowfullscreen=true
            )
    if researchInfo.abstract
      section.max-width-4.mx-auto.px2
        h2.px2.pb1.border-bottom Abstract
        .px2.lg-pl4= researchInfo.abstract
    section.max-width-4.mx-auto.px2
      h2.px2.pb1.border-bottom Information
      .px2.clearfix
        .col.col-12.mb1
          .bold Book title
          div= researchInfo.container_title
        if researchInfo.volume
          .col.col-12.md-col-6.mb1
            .clearfix
              .left.col.col-4.bold Volume
              .right.col.col-8= researchInfo.volume
          .col.col-12.md-col-6.mb1
            .clearfix
              .left.col.col-4.bold Issue
              .right.col.col-8= researchInfo.issue || '---'
        .col.col-12.md-col-6.mb1
          .clearfix
            .left.col.col-4.bold Pages
            .right.col.col-8= researchInfo.page || '---'
        .col.col-12.md-col-6.mb1
          .clearfix
            .left.col.col-4.bold Date of issue
            .right.col.col-8
              date= researchInfo.issued
        if researchInfo.doi
          .col.col-12.md-col-6.mb1
            .clearfix
              .left.col.col-4.bold DOI
              .right.col.col-8= researchInfo.doi
        if researchInfo.isbn
          .col.col-12.md-col-6.mb1
            .clearfix
              .left.col.col-4.bold ISBN
              .right.col.col-8= researchInfo.isbn
        if researchInfo.issn
          .col.col-12.md-col-6.mb1
            .clearfix
              .left.col.col-4.bold ISSN
              .right.col.col-8= researchInfo.issn
        if researchInfo.keywords.length !== 0
          .col.col-12.mb1
            .bold Keywords
            .keyword-list
              for keyword in researchInfo.keywords
                span.nowrap.mr1 #{keyword}
                span.separator.mr1 /
                wbr
    section.max-width-4.mx-auto.px2
      h2.px2.pb1.border-bottom Articles
      ul.p0.px2.link-list
        if researchInfo.pdf_url
          li.inline-block.mr2.pb1
            i.mr1.fa.fa-lg.fa-file-pdf-o
            a(href=researchInfo.pdf_url) Paper (PDF)
        li.inline-block.mr2.pb1
          i.mr1.fa.fa-lg.fa-file-text-o
          a(href="bibtex.bib") BibTeX
        li.inline-block.mr2.pb1
          i.mr1.fa.fa-lg.fa-file-code-o
          a(href="csl.json") CSL-JSON
    if researchInfo.links.length !== 0
      section.max-width-4.mx-auto.px2
        h2.px2.pb1.border-bottom Links
        ul.p0.px2.link-list
          for link in researchInfo.links
            li.inline-block.mr1.pb1
              i.mr1.fa.fa-link
              a(href=link.url)= link.title
    if researchInfo.external_url
      section.max-width-4.mx-auto.px2
        p.px2.pb1.border-bottom.right-align
          small
            span.bold Source URL
            span.px1 |
            a(href=researchInfo.external_url)= researchInfo.external_url
    footer.max-width-4.mx-auto.px2.my3
      .center
        small &copy; #{researchInfo.copyright_holder}, #{researchInfo.issued.split('/')[0]}
      .center
        small By using this site, you agree to the #[a(href="/copyright") Copyright Notice].

