doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1")
    title #{info.title} | #{general.siteName}
    if general.isTest
      meta(name="robots", content="none, noindex, nofollow")
    link(rel="canonical", href=info.url)

    //- Highwire Press tags
    meta(name="citation_title", content=info.title)
    for author in info.author
      meta(name="citation_author", content=author)
    meta(name="citation_date", content=info.issued)
    meta(name="citation_year", content=info.issued.split('/')[0])
    meta(name="citation_publication_date", content=info.issued)
    meta(name="citation_firstpage", content=info.page.split('-')[0])
    meta(name="citation_lastpage", content=info.page.split('-').reverse()[0])
    meta(name="citation_abstract_html_url", content=info.url)
    if info.language
      meta(name="citation_language", content=info.language)
    if info.type === 'paper-conference'
      meta(name="citation_conference", content=info.container_title)
      meta(name="citation_conference_title", content=info.container_title)
    else if info.container_title
      meta(name="citation_journal", content=info.container_title)
      meta(name="citation_journal_title", content=info.container_title)
    if info.volume
      meta(name="citation_volume" content=info.volume)
    if info.issue
      meta(name="citation_issue" content=info.issue)
    if info.doi
      meta(name="citation_doi", content=info.doi)
    if info.isbn
      meta(name="citation_isbn", content=info.isbn)
    if info.issn
      meta(name="citation_issn", content=info.issn)
    if info.publisher
      meta(name="citation_publisher", content=info.publisher)
    if info.type === 'report' && info.institution
      meta(name="citation_technical_report_institution", content=info.institution)
      if info.issue
        meta(name="citation_technical_report_number", content=info.issue)
      else if info.number
        meta(name="citation_technical_report_number", content=info.number)
    if info.keywords.length !== 0
      meta(name="citation_keywords", content=info.keywords.join('; '))
    if info.pdf_url
      meta(name="citation_pdf_url", content=info.pdf_url)

    //- description and keywords
    meta(name="description", content=info.abstract)
    if info.keywords.length !== 0
      meta(name="keywords", content=info.keywords.join(', '))

    //- OGP
    meta(property="og:type", content="article")
    meta(property="og:title", content=info.title)
    meta(property="og:url", content=info.url)
    meta(property="og:description", content=info.abstract)
    if info.ogp_image
      meta(property="og:image", content=info.ogp_image)
    meta(property="article:author", content=info.author.join(', '))

    //- Twitter Card
    if info.ogp_image
      meta(name="twitter:card", content="summary_large_image")
      meta(name="twitter:image", content=info.ogp_image)
    else
      meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content=general.twitterID)
    meta(name="twitter:title", content=info.title)
    meta(name="twitter:description", content=info.abstract)
    meta(name="twitter:label1", content="Book title")
    meta(name="twitter:data1", content=info.container_title)
    meta(name="twitter:label2", content="Date of issue")
    meta(name="twitter:data2", content=info.issued)

    //- JSON-LD
    -
      var schemaJSON = JSON.stringify({
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": info.title,
        "url": info.url
      });
    script(type="application/ld+json")!= schemaJSON

    //- CSS
    link(rel="stylesheet", href="/style/index.css")

  body
    nav.px2.pt2.pb1.border-bottom.clearfix
      .left.col-12.md-col-2.pb1.center.nowrap
        a(href="/") 宮下研究室 論文データベース
      .right.col-12.md-col-3.lg-col-2.pb1
        form(method="GET", action="/search").flex
          input.flex-auto.px1.border(type="search", name="q", placeholder="Search")
    header.max-width-4.mx-auto.px2
      .px2.mb3.border-bottom
        p.bold
          if info.type === 'paper-conference'
            span Conference Proceedings
          if info.type === 'article-journal'
            span Journal
          if info.type === 'report'
            span Technical Report
          if info.type === 'thesis'
            span Thesis
        h1.m0.lg-h1.h2.pb1= info.title
        h3.right-align
          for author in info.author
            span.nowrap.ml2= author
            wbr
        p.social-buttons.right-align
          -
            var facebookURL =
              "https://facebook.com/sharer/sharer.php?u=" + encodeURIComponent(info.url);
          a.mx1.rounded.btn.btn-small.facebook.ml1(href=facebookURL, target="_blank")
            i.fa.fa-facebook.mr1
            span Facebook
          -
            var twitterURL =
              "https://twitter.com/intent/tweet/?text=" +
              encodeURIComponent(info.title + ' | ' + general.siteName) +
              '&url=' + encodeURIComponent(info.url);
          a.rounded.btn.btn-small.twitter.ml1(href=twitterURL, target="_blank")
            i.fa.fa-twitter.mr1
            span Twitter
    if info.youtube_url
      section.max-width-4.mx-auto.px2
        .lg-px4
          .oembed-wrapper
            iframe.oembed-content(
              src=info.youtube_url.replace('/watch?v=', '/embed/') + "?rel=0",
              frameborder="0", allowfullscreen=true
            )
    else if info.slideshare_url
      section.max-width-4.mx-auto.px2
        .lg-px4
          .oembed-wrapper
            iframe.oembed-content(
              src=info.slideshare_url,
              frameborder="0", allowfullscreen=true
            )
    if info.abstract
      section.max-width-4.mx-auto.px2
        h2.px2.pb1.border-bottom Abstract
        .px2.lg-pl4= info.abstract
    section.max-width-4.mx-auto.px2
      h2.px2.pb1.border-bottom Information
      .px2.clearfix
        .col.col-12.mb1
          .bold Book title
          div= info.container_title
        if info.volume
          .col.col-12.md-col-6.mb1
            .clearfix
              .left.col.col-4.bold Volume
              .right.col.col-8= info.volume
          .col.col-12.md-col-6.mb1
            .clearfix
              .left.col.col-4.bold Issue
              .right.col.col-8= info.issue || '---'
        .col.col-12.md-col-6.mb1
          .clearfix
            .left.col.col-4.bold Pages
            .right.col.col-8= info.page || '---'
        .col.col-12.md-col-6.mb1
          .clearfix
            .left.col.col-4.bold Date of issue
            .right.col.col-8
              date= info.issued
        if info.doi
          .col.col-12.md-col-6.mb1
            .clearfix
              .left.col.col-4.bold DOI
              .right.col.col-8= info.doi
        if info.isbn
          .col.col-12.md-col-6.mb1
            .clearfix
              .left.col.col-4.bold ISBN
              .right.col.col-8= info.isbn
        if info.issn
          .col.col-12.md-col-6.mb1
            .clearfix
              .left.col.col-4.bold ISSN
              .right.col.col-8= info.issn
        if info.keywords.length !== 0
          .col.col-12.mb1
            .bold Keywords
            .keyword-list
              for keyword in info.keywords
                span.nowrap.mr1 #{keyword}
                span.separator.mr1 /
                wbr
        .col.col-12.mb1
          .bold Citation
          div= info.citation
    section.max-width-4.mx-auto.px2
      h2.px2.pb1.border-bottom Articles
      ul.p0.px2.link-list
        if info.pdf_url
          li.inline-block.mr2.pb1
            i.pdf-link.mr1.fa.fa-lg.fa-file-pdf-o
            a(href=info.pdf_url)
              span Paper (PDF)
              small.ml1 #[i.fa.fa-external-link]
        li.inline-block.mr2.pb1
          i.bibtex-link.mr1.fa.fa-lg.fa-file-text-o
          a(href="./bibtex.bib")
            span BibTeX
            small.ml1 #[i.fa.fa-external-link]
        li.inline-block.mr2.pb1
          i.csl-link.mr1.fa.fa-lg.fa-file-code-o
          a(href="./csl.json")
            span CSL-JSON
            small.ml1 #[i.fa.fa-external-link]
    if info.links.length !== 0
      section.max-width-4.mx-auto.px2
        h2.px2.pb1.border-bottom Links
        ul.p0.px2.link-list
          for link in info.links
            li.inline-block.mr1.pb1
              i.mr1.fa.fa-link
              a(href=link.url)= link.title
    if info.external_url
      section.max-width-4.mx-auto.px2
        p.px2.pb1.border-bottom.right-align
          small
            span.bold Source URL
            wbr
            a.pl1(href=info.external_url)= info.external_url
    footer.max-width-4.mx-auto.px2.my3
      .center
        small &copy; #{info.copyright_holder}, #{info.issued.split('/')[0]}
      .center.notice
        small By using this site, you agree to the #[a(href="/copyright") Copyright Notice].

