doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1")
    title= general.siteName
    if general.isTest
      meta(name="robots", content="none, noindex, nofollow")
    link(rel="canonical", href=general.siteUrl)

    //- description and keywords
    meta(name="description", content=general.description.trim())

    //- OGP
    meta(property="og:type", content="website")
    meta(property="og:title", content=general.siteName)
    meta(property="og:url", content=general.siteUrl)
    meta(property="og:description", content=general.description.trim())

    //- JSON-LD
    -
      var schemaJSON = JSON.stringify({
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": `${general.siteName}`,
        "url": `${general.siteUrl}/`,
        "potentialAction": {
          "@type": "SearchAction",
          "target": `${general.siteUrl}/search/?q={search_term_string}`,
          "query-input": "required name=search_term_string"
        }
      });
    script(type="application/ld+json")!= schemaJSON

    //- CSS
    link(rel="stylesheet", href="/style/index.css")

  body
    nav.px2.pt2.pb1.border-bottom.clearfix
      .left.col-12.md-col-2.pb1.center.nowrap
        a(href="/") Miyashita Lab Research
      .right.col-12.md-col-3.lg-col-2.pb1
        form(method="GET", action="/search").flex
          input.flex-auto.px1.border(type="search", name="q", placeholder="Search")
    header.max-width-4.mx-auto.px2
      h1.center
        a(href="/") Miyashita Lab Research
      h2.center
        a(href="/")
          span.mr1.nowrap.inline-block 明治大学
          span.mr1.nowrap.inline-block 宮下研究室
          span.nowrap.inline-block 論文データベース
      //- form(method="GET", action="/search").flex
      //-   input.flex-auto.p2.border(type="search", name="q", placeholder="Google Search")
    section.notice.max-width-4.mx-auto.px2
      p.center
        span.nowrap.inline-block 本データベースにおける
        span.nowrap.inline-block 著作権については
        span.nowrap.inline-block #[a(href="/copyright/") こちらをご覧ください]
    section.max-width-4.mx-auto.px2
      h3.center
        span.nowrap.inline-block 論文一覧
        small.mx1.nowrap.inline-block #{researchList.length} 件
      ul.block.p0
        for research in researchList
          li.block.px1.pt2.pb1.border
            a.research-list.block.flex(href=research.url)
              .flex-auto.clearfix
                .left.pb1
                  span= research.title
                .right.pb1
                  .px1.right-align
                    span= research.author.join(', ')
                    date.px1= research.year
              .ml1
                i.mx-auto.fa.fa-lg.fa-arrow-circle-right
    footer.max-width-4.mx-auto.px2.my3
      .center
        small &copy; Miyashita Lab
      .center.notice
        small By using this site, you agree to the #[a(href="/copyright") Copyright Notice].

